
          [data-css="css_1789800329"] {color:var(--color-light-freeze) !important;
}
[data-css="css_3422187993"] {animation:pulse var(--animate-duration, 1s) both infinite !important;
}
































































[data-id='id_698bda23-62fc-490e-9ec2-b842b986b3fb'].bg-animation {
  animation: id_698bda23-62fc-490e-9ec2-b842b986b3fb-bg 20s linear infinite;
  background-position: 0 0; }

@keyframes id_698bda23-62fc-490e-9ec2-b842b986b3fb-bg {
  50% {
    background-position: 0 100%; } }




        